{%extends 'base.html'%}

{%block content%}
<div>
    <a href={% url 'index'%}>HOME</a>
    <a href={% url 'expert-panel'%}>EXPERT PANEL</a>
</div>
    Witaj! Zapraszam do ankietki :) <3 <3 <3

        <ul>
            {% for t in tree %}
                <li><a href="{{t.link}}">{{t.id}}</a></li>
            {% endfor %}
        </ul>
        <h3>{{ progress }}</h3>
        {% if ended and not done %}
        	<a href={% url 'questionare-end' url %}>Zakończ Ankiete</a>
        {% elif done %}
            <h2>Ankieta Zakończona. Dziękujemy!</h2>
        {% endif %}

{%endblock content%}