{%extends 'base.html'%}

{%block content%}
<a href={% url 'index'%}>HOME</a>
<a href={% url 'scenarios'%}>SCENARIOS</a>
<h1>Scenario id:{{ object.id }}</h1>
<ul>
    <li>DataID:{{ object.dataID }}</li>
    <li>ModelID:{{ object.modelID }}</li>
    <li>WeightID:{{ object.weightID }}</li>
</ul>

    {% if object.submited %}
        <div>Scenariusz został zatwierdzony! Kod:
           <span style="color: red;">{{ link }}</span>
        </div>
    {% else%}
        <ol>
            <li>Definiowanie i modyfikowanie kryterii i podkryterii <a href={% url 'modify-criteria' object.id %}>Zmień kryteria</a></li>
            <li>Dodawanie elementów do porównania <a href={% url 'modify-alternatives' object.id %}>Dodaj elementy</a></li>
            <li>Zatwierdź scenariusz <a href={% url 'scenario-submit' object.id%}>Zatwierdź</a></li>
        </ol>
    {% endif %}

{%endblock content%}