{%extends 'base.html'%}

{%block content%}

<h1>Scenario id:{{ object.id }}</h1>
<ul>
    <li>DataID:{{ object.dataID }}</li>
    <li>ModelID:{{ object.modelID }}</li>
    <li>WeightID:{{ object.weightID }}</li>
</ul>
<ol>
    <li>Definiowanie i modyfikowanie kryterii i podkryterii <a href={% url 'modify-criteria' object.id %}>Zmień kryteria</a></li>
    <li>Dodawanie elementów do porówania <a href={% url 'modify-alternatives' object.id %}>Dodaj elementy</a></li>
    <li>Dodanie ekspertów <a href="">Dodaj ekspertów</a></li>
</ol>

{%endblock content%}